body{
    text-align: center;
}
input{
    width: 300px;
    height: 40px;
}

button{
    width: 100px;
    height: 50px;
}

h1, h2  {
    text-align: center;
    color: darkblue;
}
#number-List #number-List2 #number-Less3 {
    text-align: center;
    width: 100px;
    height: 50px;
    border-color: black;
    text-decoration: red;
}

.parrafos {
    display: inline-block;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    height: 120px;
    text-align: center;
}

